export(createRMolecule)
export(getMoleculeNamesFromSDF)
export(getMoleculePropertyFromSDF)
exportPattern("^\\Rmolecule")
exportPattern("^\\Rmoleculeset")
export(readRmoleculeset)
export(sd2gram)
export(sd2gram3Dpharma)
export(sd2gram3Dspectrum)
export(sd2gramSpectrum)
export(sd2gramSubtree)
import(Rcpp)
